
.Sub-Leave
{
    height:380px;
    background-color: rgb(230, 228, 225);
}
.Leave
{
    height:max-content;
    margin: auto;
    width: 80%;
    height: 70%;
    background-color: rgb(255, 255, 255);
}
.sub
{
    background-color: rgb(255, 255, 255);
    margin: auto;

    width: 30%;
    height: 137%;
    box-shadow: 5px 10px rgb(226, 221, 213);
}

.leavebutton{
    background-color: rgb(226, 221, 213);
    width: 100%;
    border-radius: 5%;
    border: solid 1px gray;
    height: 9%;
}
h3{
    text-align: center;
}
.label{
    font-weight: 500;
}

